/*******************************************************************************
 * General
 ******************************************************************************/

javax-swing-JButton {
	-swing-horizontalalignment: left;
	-swing-verticalalignment: center;
	-swing-margin: 2 5;
	-swing-opaque: false;
}

javax-swing-JScrollPane {
	-swing-border: null;
}

javax-swing-JCheckBox,
javax-swing-JRadioButton,
javax-swing-JToolBar {
	-swing-opaque: false;
}

javax-swing-JToolBar > javax-swing-JButton {
	-swing-margin: 1;
}

/*******************************************************************************
 * Groups
 ******************************************************************************/

.groupPanel {
	-swing-background: #FAFAFA;
	-swing-border: arui-groupborder(noarg);
	-ar-border-stroke: null;
	-ar-border-thickness: 0;
	-ar-border-header-stroke: null;
	-ar-border-header-thickness: 0;
	-ar-border-header-fill: lineargradient(0, 0, 0, 1, 0, #4D6082, 1, #3D5277);
	-ar-border-margin: 3 6;
	-ar-border-foreground: #FFF;
	-ar-border-font: SquareFont plain 14;
}

#selectionPanel {-ar-border-title: "Mode";}
#configCreatePanel {-ar-border-title: "Configuration";}
#configUpdatePanel {-ar-border-title: "Project Selection";}
#librarySetupPanel {-ar-border-title: "Library Selection";}
#previewPanel {-ar-border-title: "Overview";}
#goPanel {-ar-border-title: "Generation";}
#advancedSettingsPanel {-ar-border-title: "Advanced Settings";}
#libraryInfoPanel {-ar-border-title: "Library information";}
#classpathsPanel {-ar-border-title: "Classpaths Review";}
#processSetupPanel {-ar-border-title: "Launch";}
#processUpdatePanel {-ar-border-title: "Progress Report";}

/*******************************************************************************
 * Root panels
 ******************************************************************************/

.rootPanel {
	-ar-fill: texture(url("/res/gfx/bg.png"));
}

.rootPanel > javax-swing-JLabel {
	-swing-foreground: #FFF;
}

/*******************************************************************************
 * Headers
 ******************************************************************************/

.header {
	-swing-background: #BBC8D8;
}

.header javax-swing-JLabel {
	-swing-font-size: 10;
	-swing-border: emptyborder(2, 5, 2, 5);
	-swing-foreground: #3D5277;
}

.headerNumber {
	-swing-font-size: 26;
	-swing-border: emptyborder(0, 5, 0, 0);
	-swing-foreground: #3D5277;
}

/*******************************************************************************
 * Fake panels
 ******************************************************************************/

.optionGroupPanel {
	-ar-fill: #BBC8D8;
}

.optionGroupPanel > javax-swing-JLabel {
	-swing-foreground: #3D5277;
}

/*******************************************************************************
 * LibSetup panel
 ******************************************************************************/

.sectionLabel {
	-swing-border: matteborder(0, 0, 1, 0, #888);
	-swing-font: Sans plain 14;
	-swing-foreground: #888;
}

/*******************************************************************************
 * Task Bar
 ******************************************************************************/

.taskBar {
	-swing-background: #FFF;
}

.taskBar .tile {
	-swing-background: #BBC8D8;
	-swing-foreground: #3D5277;
	-swing-font-size: 10;
}

.taskBar .tile:error {
	-swing-background: #F55;
	-swing-foreground: #500;
}

/*
.taskBar .tile:complete {
	-swing-background: #5F5;
	-swing-foreground: #050;
}
*/

/*******************************************************************************
 * Misc
 ******************************************************************************/

.linkLabel {-swing-foreground: #008;}
.linkLabel:hover {-swing-foreground: #55F;}

.libInfoDescLabel {-swing-font-size: 13;}
.libInfoTitleLabel {
	-swing-foreground: #3D5277;
	-swing-font-size: 20;
	-swing-font-style: bold;
	-swing-border: matteborder(0, 0, 1, 0, #3D5277);
}

.helpNumber {-swing-font-size: 30;}

.progressArea {
	-swing-margin: 5 10;
	-swing-font-size: 11;
}

.statusLabel:error {-swing-foreground: #800;}
.statusLabel:valid {-swing-foreground: #080;}
.statusLabel:notfound {-swing-foreground: #800; -swing-text: "Not found";}
.statusLabel:found {-swing-foreground: #080; -swing-text: "Found";}

.frame {-swing-border: lineborder(#3D5277, 1);}

.versionLabel {
	-swing-background: #FFF;
	-swing-foreground: #000;
	-swing-font-size: 10;
	-swing-opaque: true;
	-swing-border: emptyborder(1, 5, 1, 5);
}
.versionLabel:error {-swing-foreground: #800;}
.versionLabel:newVersion {-swing-foreground: #080;}